@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondary: rgba(15, 31, 28, 0.5);
	--orange: #ff7c4e;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f6f6f6;
	color: #0f1f1c;
}

.none {
	display: none !important;
}

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

.container__right {
	padding-left: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);
}

.container__left {
	padding-right: calc(
		(100% - var(--container-width)) / 2 + var(--container-padding)
	);
}

.block {
	height: 200px;
	background-color: darkseagreen;
}

/* HEADER ============================== */
.header {
	min-height: 940px;
	background: linear-gradient(132deg, #428e5f -17.38%, #112120 78.4%), #204434;
	color: #fff;

	overflow: hidden;

	position: relative;

	padding-top: 44px;
}
.header a {
	color: #fff;
}

.header:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	width: 100%;
	height: 96px;

	background-image: url('/img/header/header-bottom.svg');
	background-size: 100%;
}

.header__top {
	margin-bottom: 86px;
}

.header__content {
	max-width: 592px;
	position: relative;
	z-index: 1;
}

.header__row {
	display: flex;
}

/* NAV ======================================== */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* Минимальное расстояние для адаптива */
	column-gap: 80px;

	position: relative;
	z-index: 1;
}

/* LOGO */
.logo {
	font-size: 20px;
	font-weight: 700;
}

.logo a {
	color: inherit !important;
}

/* NAV LIST */
.nav__list {
	display: flex;
	column-gap: 80px;

	font-size: 15px;
	font-weight: 500;
}

.nav__list a {
	position: relative;

	transition: width 0.2s linear;
}

.nav__list a.active::after,
.nav__list a:hover::after {
	content: '';

	position: absolute;
	left: 0;
	bottom: -5px;

	display: block;
	height: 4px;
	width: 80%;
	background-color: #c4c4c4;
	border-radius: 100px;
}

/* NAV LOGIN  */
.nav__login {
	display: flex;
	align-items: center;

	column-gap: 25px;

	font-size: 15px;
	font-weight: 500;
	color: #fff;
}

/* ANCHOR BUTTON */
.btn {
	position: relative;
	z-index: 0;
	opacity: 1;
	display: inline-block;
	padding: 13px 44px;
	border-radius: 100px;
	background: linear-gradient(-130deg, #ff4b0f 15.57%, #fe271b 95.03%);
	color: rgb(245, 233, 127) !important;

	transition: box-shadow 0.2s linear;
}
/* Transition gradient */
.btn:after {
	position: absolute;

	color: #fff;
	opacity: 1;
	z-index: 1;
	top: 0;
	left: 0;
	content: 'Login';
	padding: 13px 44px;
	border-radius: 100px;

	background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #fff;

	transition: opacity 0.4s linear;
}

.btn:hover.btn:after {
	opacity: 0;
}
.btn:hover {
	box-shadow: 0px 0px 12px #ff7b4e;
}
.btn:active {
	transform: translateY(2px);
}

/* HEADER CONTENT */

.header__badge {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 15px 30px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.25);

	margin-bottom: 7px;
}
.header__title {
	font-size: 55px;
	font-weight: 400;

	margin-bottom: 30px;
}
.header__text {
	font-size: 25px;
	font-weight: 700;
	opacity: 0.5;

	margin-bottom: 68px;
}

.header__btn {
	font-size: 25px;
	font-weight: 600;
	position: relative;
	z-index: 0;
	opacity: 1;
	display: inline-block;
	padding: 27px 48px;
	border-radius: 27px;
	background: linear-gradient(-130deg, #ff4b0f 15.57%, #fe271b 95.03%);
	color: rgb(245, 233, 127) !important;

	transition: box-shadow 0.2s linear;
}
/* Btn animation hover */
.header__btn:after {
	position: absolute;

	color: #fff;
	opacity: 1;
	z-index: 1;
	top: 0;
	left: 0;
	content: 'Exsplore Now';
	padding: 27px 48px;
	border-radius: 27px;

	background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #fff;

	transition: opacity 0.4s linear;
}

.header__btn:hover.header__btn:after {
	opacity: 0;
}
.header__btn:hover {
	box-shadow: 0px 0px 12px #ff7b4e;
}
.header__btn:active {
	transform: translateY(2px);
}

/* HEADER IMG */

.header__img {
	position: relative;
	flex-grow: 1;
}
.header__img img {
	position: absolute;
	top: -168px;
	right: -90px;
	z-index: 2;
	max-width: unset;
	width: 894px;
	height: 940px;

	pointer-events: none;
}
.header__img::after {
	content: '';
	position: absolute;
	top: 0;
	right: -66px;
	z-index: 1;
	width: 830px;
	height: 622px;

	background-image: url(/img/header/header-elements.svg);
}

/* BACKGROUND IMG ELEMENTS  */

/* MAIN =========================================== */

.destinations {
	padding: 96px 0 100px;
	overflow-x: hidden;
}

.destinations__row {
	display: flex;
	column-gap: 50px;
}

/* DESTINATIONS CONTENT */
.destinations__content {
	max-width: 456px;
}

.destinations__badge {
	font-size: 30px;
	font-weight: 600;
	color: #000;
}
.destinations__title {
	font-size: 55px;
	font-weight: 600;
	color: #000;

	margin-bottom: 15px;
}
.destination__text {
	font-size: 25px;
	font-weight: 500;
	color: var(--secondary);
	width: 456px;

	margin-bottom: 50px;
}

/* ANCHOR BUTTON */
.destinations__btn {
	font-size: 20px;
	font-weight: 600;
	position: relative;
	z-index: 0;
	opacity: 1;
	display: inline-block;
	padding: 25px 45px;
	border-radius: 100px;
	background: linear-gradient(-130deg, #ff4b0f 15.57%, #fe271b 95.03%);
	color: rgb(245, 233, 127) !important;

	transition: box-shadow 0.2s linear;
}
/* Transition gradient */
.destinations__btn:after {
	position: absolute;

	color: #fff;
	opacity: 1;
	z-index: 1;
	top: 0;
	left: 0;
	content: 'Exsplore Now';
	padding: 25px 45px;
	border-radius: 100px;

	background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #fff;

	transition: opacity 0.4s linear;
}

.destinations__btn:hover.destinations__btn:after {
	opacity: 0;
}
.destinations__btn:hover {
	box-shadow: 0px 0px 12px #ff7b4e;
}
.destinations__btn:active {
	transform: translateY(2px);
}

/* DESTINATIONS SLIDER */
.destinations__slider {
	width: 1110px;
	flex-shrink: 0;
}

.slider {
	position: relative;
	height: 456px;
}

.slider__item {
	margin-top: 27px;
	height: 402px;
	width: 335px;
	object-fit: cover;
	border-radius: 35px;

	transition: 0.2s ease-in;
}

.slider .center .slider__item {
	margin-top: 0;

	height: 456px;
	width: 380px;
}

/* SLIDER BUTTON */

.slider__btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;

	width: 68px;
	height: 68px;
	border-radius: 50%;
	display: block;

	display: flex;
	align-items: center;

	background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
}
.slider__btn:hover {
	box-shadow: 0 0 14px #ff7b4e;
	transition: box-shadow 0.2s linear;
}
.slider__btn:active {
	box-shadow: 0 0 20px #ff0000;
	transition: box-shadow 0.2s linear;
}
.slider__btn--prev {
	left: -27px;
	padding-left: 26px;
	justify-content: flex-start;
}

.slider__btn--next {
	right: 230px;
	padding-right: 26px;
	justify-content: flex-end;
}

/* CUSTOMERS ======================================== */
.customers {
	padding: 100px 0 133px;
}

.customers__row {
	display: flex;
	gap: 68px;
}

.customers__img {
	max-width: 478px;
}

.customers__img img {
	height: 537px;
	width: 478px;
	border-radius: 60px;
}

/* CUSTOMERS CONTENT */

.customers__content {
	max-width: 565px;
}

.customers__title {
	font-size: 45px;
	font-weight: 500;
	color: #0f1f1c;

	margin-bottom: 35px;
}

.review {
	max-width: 490px;
}

.review__client {
	display: flex;
	align-items: center;
	column-gap: 33px;
	margin-bottom: 60px;
}

.client__img {
	background-color: #ff794e;
	border-radius: 71px;
	overflow: hidden;

	transition: background-color 0.3s linear;
}
.client__img:hover {
	background-color: #ff584e;
}

.client__name {
	font-size: 33px;
	font-weight: 500;
	color: #0f1f1c;

	margin-bottom: 10px;
}

.client__country {
	font-size: 25px;
	font-weight: 400;
	color: var(--secondary);
}

.review__text {
	font-size: 22px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);

	margin-bottom: 30px;
}

/* CTA ============================================== */
.cta {
	padding: 100px 0;
}
.cta__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 60px;
	background-color: #fff;
	height: 581px;
	width: 1240px;

	position: relative;
}
.cta__content::before,
.cta__content::after {
	content: '';
	position: absolute;

	width: 63px;
	height: 83px;
	z-index: 2;

	background: no-repeat url(/img/cta/cta-el-01.svg);
}
.cta__content::before {
	top: 74px;
	right: 81px;
}
.cta__content::after {
	bottom: 74px;
	left: 81px;
}

.cta__title {
	max-width: 519px;
	font-size: 45px;
	font-weight: 500;
	color: #000;

	margin-bottom: 30px;
}

.cta__text {
	font-size: 30px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);

	margin-bottom: 60px;
}

/* CTA BUTTON */
.cta__btn {
	font-size: 20px;
	font-weight: 500;
	position: relative;
	z-index: 0;
	opacity: 1;
	display: inline-block;
	padding: 25px 55px;
	border-radius: 27px;
	background: linear-gradient(-130deg, #ff4b0f 15.57%, #fe271b 95.03%);
	color: rgb(245, 233, 127) !important;

	transition: box-shadow 0.2s linear;
}

/* Transition gradient */
.cta__btn:after {
	position: absolute;

	color: #fff;
	opacity: 1;
	z-index: 1;
	top: 0;
	left: 0;
	content: 'Get Started';
	padding: 25px 55px;
	border-radius: 27px;

	background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #fff;

	transition: opacity 0.4s linear;
}

.cta__btn:hover.cta__btn:after {
	opacity: 0;
}
.cta__btn:hover {
	box-shadow: 0px 0px 12px #ff7b4e;
}
.cta__btn:active {
	transform: translateY(2px);
}

/* SUBSCRIBE ======================================== */
.subscribe {
	padding: 35px 0 50px;
}

.subscribe__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subscribe__title {
	max-width: 484px;

	text-align: center;
	font-size: 45px;
	font-weight: 600;
	color: #0f1f1c;

	margin-bottom: 60px;
}

.subscribe-form {
	border-radius: 35px;
	background-color: #fff;
	padding: 10px 13px 10px 44px;

	display: flex;
	column-gap: 100px;
}

.subscribe-input {
	font-size: 20px;
	font-weight: 500;
	color: var(--secondary);
}

/* SUBSCRIBE BUTTON */
.subscribe-btn {
	position: relative;
	z-index: 0;
	opacity: 1;

	font-size: 20px;
	font-weight: 600;
	display: inline-block;
	padding: 28px 76px;
	border-radius: 35px;
	background: linear-gradient(-130deg, #ff4b0f 15.57%, #fe271b 95.03%);
	color: rgb(245, 233, 127) !important;

	transition: box-shadow 0.2s linear;
}
/* Transition gradient */
.subscribe-btn:after {
	position: absolute;

	color: #fff;
	opacity: 1;
	z-index: 1;
	top: 0;
	left: 0;
	content: 'Subscribe';
	padding: 28px 76px;
	border-radius: 35px;

	background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #fff;

	transition: opacity 0.4s linear;
}

.subscribe-btn:hover.subscribe-btn:after {
	opacity: 0;
}
.subscribe-btn:hover {
	box-shadow: 0px 0px 12px #ff7b4e;
}
.subscribe-btn:active {
	transform: translateY(2px);
}

/* FOOTER =========================================== */

.footer {
	padding: 56px 0 74px;
}

.footer a {
	color: var(--secondary);
}

.logo--footer {
	color: var(--orange);
}

.nav__list.nav__list--footer a::after,
.nav__list.nav__list--footer a:hover::after {
	display: none;
}

.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
	color: var(--orange);
}

.btn--footer {
	padding: 13px 44px;
}

/* MEDIA @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width: 1270px) {
	.container__right {
		padding-left: 15px;
	}
	.container__right {
		padding-right: 15px;
	}
	/* HEADER */
	.header__title {
		font-size: 50px;
	}

	.header__img img {
		right: -226px;
	}

	/* CTA */
	.cta__content {
		width: 1090px;
	}

	/* FOOTER */
	.footer {
		padding-bottom: 44px;
	}
}

@media (max-width: 1000px) {
}
